$color-theme-orange :#ee7a22;
$color-theme-gray : rgb(67, 67, 67);
$color-theme-dark : rgb(0, 0, 0);
$color-theme-gray-light : #f7f7f7;
$color-white:#fff;
$color-box-shadow : rgb(255, 255, 255);

$card-underline-gray : #eeee;


// Max grid width
$max-width : 114rem;

//Default font
$default-font : 1.6rem;