* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 
1rem = 16px
*/

html {
    font-size: 62.5%; //1rem = 10px ; 10/16 = 62.5%

    @include respond(tablet-port) {
        font-size: 56.25%; //1rem = 9px ; 9/16 = 56.25%
    }

    @include respond(phone) {
        font-size: 31.25%; //1rem = 5px ; 5/16 = 31.25%
    }


    @include respond(big-screen) {
        font-size: 70%; //1rem = 12px ; 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
}