.section-about {
    background-color: $color-theme-gray-light;
    padding: 25rem 0;
    margin-top: -10vh;
}

.section-grid {
    max-width: $max-width;
    margin: 10rem auto 0 auto;

    @include respond(phone) {
        padding: 1rem;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right,
            rgba($color-theme-orange, 0.7) 100%,
            rgba($color-theme-orange, 0.9) 100%);
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);
    margin-top: -12rem;

    &>* {
        transform: skewY(7deg);
    }
}

.ougoal-color {
    color: $color-theme-orange;
}

@include respond(phone) {
    .mb-10 {
        margin-bottom: 1rem;
    }

    .align-phone {
        margin: 5rem 0;
    }

    .mt-25 {
        margin-top: 2.5rem;
    }
}